<div class="table-hover" style=" margin-left: 80px; margin-right: 80px;">
    <!-- Default panel contents -->
    <div class="panel-heading" style="text-align:center; font-size: 20px; font-weight: bold;">电话号码表</div>

    <!-- Table -->
    <table class="table table-bordered table-hover" style="text-align:center; font-size: 16px;" >
        <th  class="active" style="text-align:center; font-size: 16px; width: 15%">部门</th>
        <th class="active"  style="text-align:center; font-size: 16px ;padding: 0px;">
            <div class="row" style=" margin: auto;line-height: 40px;">
                <div class="col-md-2 col-xs-2" style="border-right: 1px solid #ddd;">姓名</div>
                <div class="col-md-2 col-xs-2" style="border-right: 1px solid #ddd;">分机号</div>
                <div class="col-md-3 col-xs-3" style="border-right: 1px solid #ddd;">电话号</div>
                <div class="col-md-1 col-xs-1" style="border-right: 1px solid #ddd;">工位</div>
                <div class="col-md-4 col-xs-4" >邮箱</div>
            </div>

        </th>

        {{#each docs}}
            <tr>
                <td class="active" >{{_id}}({{count}}人)</td>
                <td  style="padding: 0px;border: 0px">
                    <table class="table table-hover" style="margin: 0px;border: 0px ;">
                        {{#each users}}
                            <tr style="border: 0px ;">
                                <td class="col-md-2 col-xs-2" style="border-right: 1px solid #ddd;padding: 1px">{{username}}</td>
                                <td class="col-md-2 col-xs-2" style="border-right: 1px solid #ddd;padding: 1px">{{extension}}</td>
                                <td class="col-md-3 col-xs-3"style="border-right: 1px solid #ddd;padding: 1px">{{telephone}}</td>
                                <td class="col-md-1 col-xs-1"style="border-right: 1px solid #ddd;padding: 1px">{{pew}}</td>
                                <td class="col-md-4 col-xs-4">{{email}}</td>
                            </tr>
                        {{/each}}
                    </table>

                </td>

            </tr >
        {{/each}}
    </table>
</div>